In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Others_stl_decomposition.csv')

In [4]:
df

                Date         Trend      Seasonal      Residual
0         1995-02-01  0.000000e+00  0.000000e+00  0.000000e+00
1         1995-01-01  0.000000e+00  0.000000e+00  0.000000e+00
2         1995-07-01  0.000000e+00  0.000000e+00  0.000000e+00
3         1995-06-01  0.000000e+00  0.000000e+00  0.000000e+00
4         1995-03-01  0.000000e+00  0.000000e+00  0.000000e+00
...              ...           ...           ...           ...
22653981  2023-01-01 -5.707347e-09 -8.837553e-09  1.454490e-08
22653982  2023-05-01 -5.445538e-09  2.374031e-08 -1.829478e-08
22653983  2023-04-01 -5.212132e-09  4.757845e-08 -4.236632e-08
22653984  2023-06-01 -5.068583e-09  5.908958e-08 -5.402100e-08
22653985  2023-05-01 -5.031096e-09  5.798384e-08 -5.295274e-08

[22653986 rows x 4 columns]